---
import App from '../app-calcultator/App';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<ol>
			<li><a href="/">Home</a></li>
			<li><a href="/kalkulator">K-altulator</a></li>
		</ol>
		<h1>C-alculator</h1>
		<App client:only />
	</body>
</html>